<h1>Feedback Form</h1>
<br>
<form>
    <app-location></app-location><br>
    <table align="center">
        <tr>
            <td ><b>Name:</b></td>
            <td><input type="text" name="username" id="username" size="35" /></td>
        </tr><br>
        <tr>
            <td ><b>Email id:</b></td>
            <td><input type="email" name="email" id="email" size="35" /></td>
        </tr><br>
        <tr>
            <td ><b>Comments:</b> </td>
            <td><textarea type="text" class="nd-textarea form-control" name="Comments" id="contact" rows="3" size="20"></textarea></td>
        </tr><br>
        <tr>
            <td ><b>Contact Details: </b> </td>
            <td><textarea type="text" class="nd-textarea form-control" name="contact" id="contact" rows="3" size="20"></textarea></td>
        </tr><br>
        <tr>
                <button type="button"  class="btn btn-outline-success submit">Submit</button>
            </tr><br>
    </table>
   
</form>




