.row {
    padding: 0.5%;
}

.col-sm-3 {
    margin: 1%;
    text-align: center;
}

.first {
    margin-left: 10%;
}

.heading {
    font-size: 20px;
    font-weight: 700;
    color: rgb(67, 112, 112);
}

.mat-card {
    padding: 5px;
}

.data {
    font-weight: bold;
    cursor: pointer;
    color: rgb(67, 112, 112);
}

.data:hover {
    font-size: 20px;
    color: darkslategray;
}