<div  class="chatform">
    <div class="chatlist" #chatlist>
        <ul class="list-group" *ngFor="let i of data" >
            <li class="list-group-item">
                <img [src]="../../Hack/src/assets/bot" alt="sdf" class="avatar"/>
                <div class="message">
                 {{i.message}}
                </div>
                <div class="timeform">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="timestamp">at {{i.timing}}</span>
                </div>
              </li>
        </ul>
      </div>
      <div class="chatcontrol">
          <input type="text" class="form-control chatinput" (keyup.enter)="sendMessage()" [(ngModel)]="message"/>
          <button class="btn btn-success sendbtn" (click)="sendMessage(message)">Send</button>
        </div>        
  </div>